<section id = "principal">
<div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel-body">
          <h4>Resultados de su busqueda por:&nbsp{{titulo}} </br>Hospital:&nbsp{{hospital}}</br>Asegurado:&nbsp{{aseguradora}}</br>Costo:&nbsp{{costo}}</h4>
          <form>
            <table class="table">
              <caption></caption>
              <thead>
                <tr>
                  <th><b>Especialidad</b></th>
                  <th><b>Ciudad</b></th>
                  <th><b>Colonia</b></th>
                  <th><b>Padecimiento</b></th>
                  <th><b>Nombre medico</b></th>
                  <th><b>Ciudad padecimiento</b></th>
                  <th><b>Colonia padecimiento</b></th>
                  <th><b>Medicos</b></th>
                </tr>
              </thead>
              <tbody id='tbmedReg'>
                <tr>
                  {{#each medicos}}
                <tr>
                  <th scope="row">{{id}}</th>
                  <td>{{DatosGenerale.nombre}} {{DatosGenerale.apellidoP}}  {{DatosGenerale.apellidoM}}</td>
                  <td>{{correo}}</td>
                  <td>{{Telefono.telefono}}</td>
                  <td>
                    <address>
                      <strong>{{Direccion.calle}} #{{Direccion.numero}}</strong><br>
                      Entre {{Direccion.calle1}} y {{Direccion.calle2}}<br>
                      {{Direccion.colonia}}, CP:{{Direccion.cp}}<br>
                      {{Direccion.ciudad}}, {{Direccion.estado}}<br>
                    </address>
                  </td>
                  <td>{{Especialidad}}</td>
                </tr>
                {{/each}}
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
