<div id="sticky-anchor"></div>
<nav class="nav-menu sticky h67-medcond">
  <div class="container-fluid nav-menu-container">
    <div id="menuMed" class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
      <div class="row nav-menu-row">
        <div class="nav-menu-inner-section">
          <ul class="nav nav-pills nav-justified nav-menu-menu h67-medcond s20">
            <li>
              <a href="#">Perfil</a>
            </li>
            <li>
              <a href="#">Publicaciones</a>
            </li>
            <li>
              <a href="#">Galería</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{#if usuario.id}}
      <input type="hidden" id="PacienteId" value="{{usuario.Paciente.id}}" />
      {{#if usuario.medFavCol}}
        {{#ifTipoPaciente}}
          <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
            <div class="row nav-menu-row">
              <div class="nav-menu-inner-section">
                <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                  <li>
                    <a onclick="eliminarFavoritos(false)" id="addFavoriteContact">
                      <span class="glyphicon h67-medcond s30">-</span> Eliminar
                      <span class="hidden-xs">como </span>contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{/ifTipoPaciente}}
      {{else}}
        {{#if usuario.invitacionEnviada}}
          {{#ifTipoPaciente}}
            <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
              <div class="row nav-menu-row">
                <div class="nav-menu-inner-section">
                  <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                    <li>
                      <a onclick="eliminarFavoritos(false)" id="addFavoriteContact">
                        <span class="glyphicon h67-medcond s30">-</span> Invitación
                        <span class="hidden-xs">a tus contactos </span>enviada</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {{/ifTipoPaciente}}
        {{else}}
          {{#if usuario.invitacionEspera}}
            {{#ifTipoPaciente}}
              <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
                <div class="row nav-menu-row">
                  <div class="nav-menu-inner-section">
                    <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                      <li>
                        <a onclick="aceptarInvitacion()" id="addFavoriteContact">
                          <span class="glyphicon h67-medcond s30">+</span> Aceptar
                          <span class="hidden-xs">como </span>contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {{/ifTipoPaciente}}
          {{else}}
            {{#ifTipoPaciente}}
              <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
                <div class="row nav-menu-row">
                  <div class="nav-menu-inner-section">
                    <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                      <li>
                        <a onclick="agregarFavoritos(false)" id="addFavoriteContact">
                          <span class="glyphicon h67-medcond s30">+</span> Agrega a
                          <span class="hidden-xs">tus </span>contactos</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {{/ifTipoPaciente}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}

  </div>
</nav>
<header class="header-section">
  <div class="container-fluid header-container">
    <div class="row header-row">
      <div id="profile" class="header-profile col-lg-8 col-md-7 col-sm-10 col-xs-12">
        <div class="header-profile-container">
          <div class="header-profile-photo-container col-lg-4 col-md-5 col-sm-5 col-xs-12">
              <div class="profilePic header-profile-photo-link center-block">
              {{#if usuario.id}}
                <img class="header-profile-photo-img" src="{{usuario.urlFotoPerfil}}"  alt="perfil"/>
              {{else}}
                <img class="header-profile-photo-img" src="{{valSession 'fotoPerfil'}}" id='fotoPerfil'  alt="perfil"/>
                <label for="imageFile">Cambiar Imagen</label>
                <input type="file" id="imageFile" style="display:none">
              {{/if}}
            </div>
          </div>
          <div class="header-profile-body-container col-lg-8 col-md-7 col-sm-7 col-xs-12">
            <div class="header-profile-body-content whiteF flama">
              {{#if usuario.id}}
                <h2 class="profile-name" style="text-transform:capitalize;">
                    {{#if usuario.DatosGenerale}}
                      {{usuario.DatosGenerale.nombre}} {{usuario.DatosGenerale.apellidoP}} {{usuario.DatosGenerale.apellidoM}}
                    {{/if}}
                </h2>
              {{else}}
                <h2 class="profile-name" style="text-transform:capitalize;">
                {{valSession "name"}}
                <h4 class="profile-location">
                  {{#ifSession "municipio"}}
                    {{valSession "municipio"}}, {{valSession "estado"}}. MX
                  {{/ifSession}}
                </h4>

                <ul class="media-right profileExtraNav list-inline">
                  <li class="active"><a href="#" onclick="cargarInfoSesion();editaPerfBoot();">Edita tu perfil</a></li>
                </ul><br/>
                <a onclick="verAgendaPaciente()">Ve tu agenda</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{#if usuario.id}}
        {{#if usuario.medFavCol}}
        <div id="profileOptions" class="header-options-container col-lg-4 col-md-5 col-sm-2 col-xs-12 h67-medcond">
          <div class="header-options-row row">
            <div class="header-options-content">
              <a href="{{base_url}}inbox/{{usuario.usuarioUrl}}" class="option">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 visible-sm">
                  <span class="option-icon glyphicon glyphicon-comment s30 center-block text-center"></span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm">
                  <div class="option-label">
                    <span class="optn-lbl">
                      <span class="option-icon glyphicon glyphicon-comment hidden-xs">
                      </span>&nbsp;Envía un mensaje
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        {{/if}}
      {{else}}
      <!--
      <div id="profileOptions" class="header-options-container col-lg-4 col-md-5 col-sm-2 col-xs-12 h67-medcond">
        <div class="header-options-row row">
          <div class="header-options-content">
            <a href="#" class="first-option option">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 hidden-xs">
                <span class="option-icon glyphicon h67-medcond s90 center-block text-center">+</span>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 hidden-sm">
                <div class="option-label">
                  <span class="optn-lbl">NUEVO PACIENTE</span>
                  <span class="optn-sb hidden-xs">Haz click aquí para generar un nuevo expediente.</span>
                </div>
              </div>
            </a>
            <a href="#" class="option">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 visible-sm">
                <span class="option-icon glyphicon glyphicon-user s30 center-block text-center"></span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm">
                <div class="option-label">
                  <span class="optn-lbl">
                    <span class="option-icon glyphicon glyphicon-chevron-right hidden-xs">
                    </span>&nbsp;CONSULTAS EN LÍNEA
                  </span>
                </div>
              </div>
            </a>
            <a href="#" class="option">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 visible-sm">
                <span class="option-icon glyphicon glyphicon-check s30 center-block text-center"></span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm">
                <div class="option-label">
                  <span class="optn-lbl">
                    <span class="option-icon glyphicon glyphicon-chevron-right hidden-xs">
                    </span>&nbsp;INTERMARKET
                  </span>
                </div>
              </div>
            </a>
            <a href="#" class="option">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-1 visible-sm">
                <span class="option-icon glyphicon glyphicon-comment s30 center-block text-center"></span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm">
                <div class="option-label">
                  <span class="optn-lbl">
                    <span class="option-icon glyphicon glyphicon-chevron-right hidden-xs">
                    </span>&nbsp;FOROS
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    -->
      {{/if}}
    </div>
  </div>
</header>

<section id="colegas">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row cat-header">
          <div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
            <div class="media">
              <div class="media-left">
                <img class="cat-icon" src="img/plataforma/icons/colegas.png">
              </div>
              <div class="media-body">
                <span class="cat-main-title h77-boldcond">Mis médicos favoritos</span><br>
                <span class="cat-sub-title h67-medcond">Ligas a los perfiles de mis médicos favoritos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline text-center center-block">
              <li onclick="cargarListaEspCol( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por especialidad
              </li>
              <li onclick="cargarListaAlfCol( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por apellido
              </li>
              <li onclick="cargarListaAlfCol( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-search"></span> Buscar
              </li>
            </ul>
          </div>
        </div>
        <div id="FavColPanel">
          <div class="contList">
          </div>
        </div>
        <div class="row">
          <hr class="sep">
          <div id="listaEspecialidades" class="side-especialidades" >
            <p>
              <span class="side-especialides-header h77-boldcond">Selecciona</span><!--<div class="clearfix"></div>-->
              <span class="side-especialides-subheader h67-medcond" id="tipoFiltro"></span>
            </p>
            <hr class="sep">
            <ul class="nav nav-pills nav-stacked h67-medcond" id="especialidadesList">
            </ul>
          </div>
          <div id="listaColegas" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right main-colegas" data-spy="scroll" data-target="#listaEspecialidades" data-offset="180">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#if usuario.id}}
{{#ifTipoPaciente}}
<section id="colegas">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row cat-header">
          <div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
            <div class="media">
              <div class="media-left">
                <img class="cat-icon" src="img/plataforma/icons/colegas.png">
              </div>
              <div class="media-body">
                <span class="cat-main-title h77-boldcond">Mis amigos en Intermed</span><br>
                <span class="cat-sub-title h67-medcond">Ligas a los perfiles de mis amigos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline text-center center-block">
              <li onclick="cargarListaAlfAmi( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por apellido
              </li>
              <li onclick="cargarListaAlfCol( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-search"></span> Buscar
              </li>
            </ul>
          </div>
        </div>
        <div id="FavColPanel">
          <div class="contList">
          </div>
        </div>
        <div class="row">
          <hr class="sep">
          <div id="listaEspecialidades" class="side-especialidades" >
            <p>
              <span class="side-especialides-header h77-boldcond">Selecciona</span><!--<div class="clearfix"></div>-->
              <span class="side-especialides-subheader h67-medcond" id="tipoFiltroAm"></span>
            </p>
            <hr class="sep">
            <ul class="nav nav-pills nav-stacked h67-medcond" id="LetrasList">
            </ul>
          </div>
          <div id="listaAmistades" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right main-colegas" data-spy="scroll" data-target="#listaEspecialidades" data-offset="180">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifTipoPaciente}}
{{else}}
<section id="colegas">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row cat-header">
          <div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
            <div class="media">
              <div class="media-left">
                <img class="cat-icon" src="img/plataforma/icons/colegas.png">
              </div>
              <div class="media-body">
                <span class="cat-main-title h77-boldcond">Mis amigos en Intermed</span><br>
                <span class="cat-sub-title h67-medcond">Ligas a los perfiles de mis amigos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="list-inline text-center center-block">
              <li onclick="cargarListaAlfAmi( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por apellido
              </li>
              <li onclick="cargarListaAlfCol( $( '#usuarioPerfil' ).val() );">
                <span class="glyphicon glyphicon-search"></span> Buscar
              </li>
            </ul>
          </div>
        </div>
        <div id="FavColPanel">
          <div class="contList">
          </div>
        </div>
        <div class="row">
          <hr class="sep">
          <div id="listaEspecialidades" class="side-especialidades" >
            <p>
              <span class="side-especialides-header h77-boldcond">Selecciona</span><!--<div class="clearfix"></div>-->
              <span class="side-especialides-subheader h67-medcond" id="tipoFiltroAm"></span>
            </p>
            <hr class="sep">
            <ul class="nav nav-pills nav-stacked h67-medcond" id="LetrasList">
            </ul>
          </div>
          <div id="listaAmistades" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right main-colegas" data-spy="scroll" data-target="#listaEspecialidades" data-offset="180">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
