<div id="sticky-anchor"></div>
<nav class="nav-menu sticky h67-medcond">
  <div class="container-fluid nav-menu-container">
    <div id="menuMed" class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
      <div class="row nav-menu-row">
        <div class="nav-menu-inner-section">
          <ul class="nav nav-pills nav-justified nav-menu-menu h67-medcond s20">
            <li>
              <a href="#">Perfil</a>
            </li>
            <li>
              <a href="#">Publicaciones</a>
            </li>
            <li>
              <a href="#">Galería</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{#if usuario.id}}
      <input type="hidden" id="PacienteId" value="{{usuario.Paciente.id}}" />
      {{#if usuario.medFavCol}}
        {{#ifTipoPaciente}}
          <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
            <div class="row nav-menu-row">
              <div class="nav-menu-inner-section">
                <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                  <li>
                    <a onclick="eliminarFavoritos(false)" id="addFavoriteContact">
                      <span class="glyphicon h67-medcond s30">-</span> Eliminar
                      <span class="hidden-xs">como </span>contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{/ifTipoPaciente}}
      {{else}}
        {{#if usuario.invitacionEnviada}}
          {{#ifTipoPaciente}}
            <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
              <div class="row nav-menu-row">
                <div class="nav-menu-inner-section">
                  <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                    <li>
                      <a onclick="eliminarFavoritos(false)" id="addFavoriteContact">
                        <span class="glyphicon h67-medcond s30">-</span> Invitación
                        <span class="hidden-xs">a tus contactos </span>enviada</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {{/ifTipoPaciente}}
        {{else}}
          {{#if usuario.invitacionEspera}}
            {{#ifTipoPaciente}}
              <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
                <div class="row nav-menu-row">
                  <div class="nav-menu-inner-section">
                    <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                      <li>
                        <a onclick="aceptarInvitacion()" id="addFavoriteContact">
                          <span class="glyphicon h67-medcond s30">+</span> Aceptar
                          <span class="hidden-xs">como </span>contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {{/ifTipoPaciente}}
          {{else}}
            {{#ifTipoPaciente}}
              <div id="addFavMed_up" class="col-lg-4 col-md-5 col-sm-6 col-xs-12 hidden-xs">
                <div class="row nav-menu-row">
                  <div class="nav-menu-inner-section">
                    <ul class="nav nav-pills nav-justified nav-menu-addButton h57-cond s20">
                      <li>
                        <a onclick="agregarFavoritos(false)" id="addFavoriteContact">
                          <span class="glyphicon h67-medcond s30">+</span> Agrega a
                          <span class="hidden-xs">tus </span>contactos</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {{/ifTipoPaciente}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}

  </div>
</nav>
<header class="header-section">
  <div class="container-fluid header-container">
    <div class="row header-row">
      <div id="profile" class="header-profile col-lg-8 col-md-7 col-sm-10 col-xs-12">
        <div class="header-profile-container">
          <div class="header-profile-photo-container col-lg-4 col-md-5 col-sm-5 col-xs-12">
              <div class="profilePic header-profile-photo-link center-block">
              {{#if usuario.id}}
                <img class="header-profile-photo-img" src="{{usuario.urlFotoPerfil}}"  alt="perfil"/>
              {{else}}
                <img class="header-profile-photo-img" src="{{valSession 'fotoPerfil'}}" id='fotoPerfil'  alt="perfil"/>
                <label for="imageFile">Cambiar Imagen</label>
                <input type="file" id="imageFile" style="display:none">
              {{/if}}
            </div>
          </div>
          <div class="header-profile-body-container col-lg-8 col-md-7 col-sm-7 col-xs-12">
            <div class="header-profile-body-content whiteF flama">
              {{#if usuario.id}}
                <h2 class="profile-name" style="text-transform:capitalize;">
                    {{#if usuario.DatosGenerale}}
                      {{usuario.DatosGenerale.nombre}} {{usuario.DatosGenerale.apellidoP}} {{usuario.DatosGenerale.apellidoM}}
                    {{/if}}
                </h2>
              {{else}}
                <h2 class="profile-name" style="text-transform:capitalize;">
                {{valSession "name"}}
                <h4 class="profile-location">
                  {{#ifSession "municipio"}}
                    {{valSession "municipio"}}, {{valSession "estado"}}. MX
                  {{/ifSession}}
                </h4>

                <ul class="media-right profileExtraNav list-inline">
                  <li class="active"><a href="#" onclick="cargarInfoSesion();editaPerfBoot();">Edita tu perfil</a></li>
                </ul>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="colegas">
  <div class="container-fluid">
    <div class="container cat-header">
      <div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
        <div class="media">
          <div class="media-left">
            <img class="cat-icon" src="img/plataforma/icons/colegas.png">
          </div>
          <div class="media-body">
            <span class="cat-main-title h77-boldcond">Mis médicos favoritos</span><br>
            <span class="cat-sub-title h67-medcond">Ligas a los perfiles de mis médicos recomendados</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline text-center center-block">
          <li>
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por especialidad
          </li>
          <li>
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Ordenar por apellido
          </li>
          <li>
            <span class="glyphicon glyphicon-search"></span> Buscar
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <hr class="sep">
      <nav id="listaEspecialidades" class="side-especialidades" >
        <p>
          <span class="side-especialides-header h77-boldcond">Selecciona</span>
          <span class="side-especialides-subheader h67-medcond">una especialidad</span>
        </p>
        <hr class="sep">
        <ul class="nav nav-pills nav-stacked h67-medcond">
          <li>
            <a href="#alergologia">Alergología <span class="badge pull-right">2</span></a>
          </li>
          <li>
            <a href="#angiologia">Angiología <span class="badge pull-right">1</span></a>
          </li>
          <li>
            <a href="#cardiologia">Cardiología <span class="badge pull-right">4</span></a>
          </li>
          <li>
            <a href="#dermatologia">Dermatología <span class="badge pull-right">6</span></a>
          </li>
          <li>
            <a href="#endocrinologia">Endocrinología <span class="badge pull-right">2</span></a>
          </li>
          <li>
            <a href="#ginecologia">Ginecología <span class="badge pull-right">1</span></a>
          </li>
        </ul>
      </nav>
      <div id="listaColegas" class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right main-colegas" data-spy="scroll" data-target="#listaEspecialidades" data-offset="180">
        <div id="alergologia" class="row" >
          <h1 class="h67-medcond">Alergología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div >
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp1.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div>
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp2.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
        </div>
        <div id="angiologia" class="row">
          <h1 class="h67-medcond">Angiología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp3.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
        </div>
        <div id="cardiologia" class="row">
          <h1 class="h67-medcond">Cardiología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp4.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp1.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp2.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp3.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
        </div>
        <div id="dermatologia" class="row">
          <h1 class="h67-medcond">Dermatología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp4.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp1.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp2.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp3.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp4.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp1.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
        </div>
        <div id="endocrinologia" class="row">
          <h1 class="h67-medcond">Endocrinología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp2.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp3.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp4.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp1.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp2.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp3.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
        </div>
        <div id="ginecologia" class="row">
          <h1 class="h67-medcond">Ginecología</h1>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <div class="">
                <a class="pPic" href="#"><img src="img/plataforma/temp/profile-pics/pp4.jpg" alt="..."></a>
              </div>
              <div class="caption">
                <div class="nombre h77-boldcond">
                  Dr.&nbsp;<span>Fulano</span>&nbsp;<span>de Tal</span>
                </div>
                <div class="esp h67-medcond">
                  <span>Alergólogo</span>
                </div>
                <a class="h67-medcondobl" href="#">Ver Perfil</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
