<section id="searchMedic" class="Flama">
    <div class="container">
        <div class="row">
            <!-- empieza buscador -->
            <div class="panel searchbox">
                <div class="panel-body">
                    <div class="col-md-3" id="ProfilePicture">
                        <img src="{{fotoPerfil}}" width="200" height="200" class="img-rounded">
                        <label for="imageFile">Cambiar Imagen</label>
                        <input type="file" id="imageFile" style="display:none">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                {{name}}
                            </div>
                            {{#if ciudad}}
                                <div class="col-md-9">
                                    {{ciudad}}, {{estado}}
                                </div>
                            {{/if}}
                            <div class="col-md-9">
                                <a class="login" href="#" data-toggle="modal" data-target="#ModificarPerfilModal" onclick="cargarInfoSesion()">Edita tu perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="resultTabs">
                    <li role="presentation" class="tab active"><a href="#medResults" aria-controls="medResults" role="tab" data-toggle="tab">Medicos</a></li>
                    <li role="presentation" class="tab"><a href="#centrosResult" aria-controls="centrosResult" role="tab" data-toggle="tab">Centros Medicos</a></li>
                    <li role="presentation" class="tab"><a href="#padResults" aria-controls="padResults" role="tab" data-toggle="tab">Padecimientos</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="tabsContent">
                    <div class="panel">
                        <div class="panel-body">
                            <div role="tabpanel" class="tab-pane fade in active " id="medResults">
                                medResults
                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="centrosResult">
                                centrosResult
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="padResults">
                                padResults
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="resultTabs">
                    <li role="presentation" class="tab active"><a href="#medResults" aria-controls="medResults" role="tab" data-toggle="tab">Medicos</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="tabsContent">
                    <div class="panel">
                        <div class="panel-body">
                            <div role="tabpanel" class="tab-pane fade in active " id="medResults">
                                medResults
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ModificarPerfilModal" name="modificarPerfilModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg">
      <div class = "modal-content">
        <div class = "modal-body">
          <div class = "container-fluid"><!-- INICIO DATOS GENERALES -->
              <div class = "row" ><!-- INICIO CLASS ROW -->
                <div class = "col-md-12">
                    <div class = "col-md-4"><img src="{{fotoPerfil}}" width="200" height="200" class="img-rounded"></div>
                    <div class = "col-md-8">
                        <div class = "col-md-12"><!-- COL-md-12 inicio -->
                          <div class = "row">
                            <div class = "col-md-12"><!-- COL-MD-12 uno inicio -->
                              <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                              <input type = "hidden" id = "idDatosGenerales" value = ""/>
                              <div class = "col-md-4">
                                <div class = "col-lg-6">
                                  <div class = "input-group">
                                    <div id = "inputNombre"></div>
                                    <span class = "input-group-btn" id = "buttonName"></span>
                                  </div>
                                </div>
                              </div>
                              <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                              <div class = "col-md-4">
                                <div class = "col-lg-6">
                                  <div class = "input-group">
                                    <div id = "inputApellidoP"></div>
                                    <span class = "input-group-btn" id = "buttonApellidoP"></span>
                                  </div>
                                </div>
                              </div>
                              <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                              <div class = "col-md-4">
                                <div class = "col-lg-6">
                                  <div class = "input-group">
                                    <div id = "inputApellidoM"></div>
                                    <span class = "input-group-btn" id = "buttonApellidoM"></span>
                                  </div>
                                </div>
                              </div>
                              <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                            </div><!-- COL-MD-12 uno fin -->
                          </div>
                        </div><!-- COL-MD-12 dos fin -->
                    </div>
                </div>
              </div><!-- FIN CLASS ROW -->
              <hr>
          </div><!-- FIN DATOS GENERALES -->
          <div class = "container-fluid"><!-- DEMAS DATOS CARGADOS DINAMICA -->
              <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
              <div class = "row"><!-- INICIO ROW -->
                <div class = "col-md-12"><!-- col-md-12 inicio -->
                  <div class = "row"><!-- row inicio -->
                    <div class = "col-md-12">
                      <input type = "hidden" id = "idTelefonos" value = ""/>
                      <input type = "hidden" id = "idLocalidad" value = ""/>
                      <input type = "hidden" id = "idMunicipio" value = ""/>
                      <div class = "col-md-4">
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" ></span>
                          </div>
                        </div>
                      </div>
                      <!-- ||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class = "col-md-4">
                        <div class = "col-md-12"><label>LADA/S:</label></div>
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonAddLada"></span>
                            <div id = "addladaTelefono"></div>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class = "col-md-4">
                        <div class = "col-md-12"><label>Telefono/s:</label></div>
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonAddTel"></span>
                            <div id = "addnumeroTelefono"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
              <div class = "row"><!-- INICIO ROW -->
                <div class = "col-md-12"><!-- col-md-12 inicio -->
                  <div class = "row"><!-- row inicio -->
                    <div class = "col-md-12">
                      <div class = "col-md-4">
                        <div class = "col-md-12"><label>Codigo postal:</label></div>
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonCP"></span>
                            <div id = "direccionCp"></div>
                          </div>
                        </div>
                      </div>
                      <!-- ||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class = "col-md-4">
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonLada"></span>
                            <div id = "ladaTelefono"></div>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class = "col-md-4">
                        <div class = "col-lg-6">
                          <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonTel"></span>
                            <div id = "numeroTelefono"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- row fin -->
                  <!-- |||||||||||||||||||||MUNICIPIO|||||||||||||||||||||||||||||||| -->
                  <div class = "row">
                    <div class = "col-md-12">
                      <div class = "row">
                        <div class = "col-md-12">
                          <div class = "col-md-12"><label>Municipio</label></div>
                          <div class = "col-lg-6">
                            <div class = "input-group">
                              <span class = "input-group-btn" id = "buttonMunicipio"></span>
                              <div id = "inputMunicipio"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- |||||||||||||||||||||||FIN MUNICIPIO|||||||||||||||||||||||||||||| -->
                </div><!-- col-md-12 fin -->
              </div>
            </div>
              <hr>
            </div><!-- FIN shit -->
            <div class = "container-fluid"><!-- CARGA DE BIOMETRICOS -->
              <div class = "row" >
                  <div class = "col-md-12">
                      <div class = "col-md-12"><label>Biometricos:</label></div>
                      <div class = "col-md-6">
                        <div class = "col-md-12">
                            <input type = "hidden" id = "idBiometrico" value = ""/>
                            <div class = "col-md-4" id = "inputBiometricoPeso"></div>
                            <div class = "col-md-4" id = "inputBiometricoAltura"></div>
                            <div class = "col-md-4" id = "inputBiometricoSangre"></div>
                        </div>
                      </div>
                      <div class = "col-md-6">
                          <div class = "col-md-12">
                            <div class = "col-md-4" id = "inputBiometricoGenero"></div>
                            <div class = "col-md-4" id = "buttonBiometrico"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <hr>
            </div><!-- FIN DE BIOMETRICOS -->
            <div class = "container-fluid"><!--CONTACTO EMERGENCIA -->
                <div class = "row">
                    <div class = "col-md-12">
                        <div class = "col-md-12"><label>Contacto/s de emergencia:</label></div>
                        <input type = "hidden" id = "idContacto" value = ""/>
                        <div class = "col-md-4" id = "contactoNombre"></div>
                        <div class = "col-md-4" id = "contactoTel"></div>
                        <div class = "col-md-4" id = "buttonContacto"></div>
                    </div>
                </div>
                <hr>
            </div><!-- FIN CONTACTO EMERGENCIA -->
            <div class = "container-fluid"><!-- Paciente padecimiento -->
              <div class = "row">
                <div class = "col-md-12"><label>Padecimiento/s:</label></div>
                <div class = "col-lg-6">
                  <div class = "col-md-12">
                    <div class = "row">
                      <div class = "col-md-12">
                        <div class = "input-group">
                          <input type = "hidden" id = "idPadecimiento" value = ""/>
                          <select id = "menuPadecimiento" class = "form-control">
                            <option value = "0">--Eliga un padecimiento--</option>
                            {{#each padecimientos}}
                              <option value = "{{id}}">{{padecimiento}}</option>
                            {{/each}}
                          </select>
                          <span class = "input-group-btn" id = "buttonAddPadecimiento"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class = "col-lg-6">
                  <div class = "col-md-12">
                    <div class = "row">
                      <div class = "col-md-12">
                        <div class = "input-group">
                            <span class = "input-group-btn" id = "buttonPadecimiento"></span>
                            <div id = "inputPadecimiento"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div><!-- FIN PACIENTE PADECIMIENTO -->
            <div class = "container-fluid"> <!-- PACIENTE ALERGIAS -->
              <div class = "row">
                <div class = "col-md-12"><label>Alergia/s:</label></div>
                <div class = "col-lg-6">
                  <div class = "col-md-12">
                    <div class = "row">
                      <div class = "col-md-12">
                        <div class = "input-group">
                          <input type = "hidden" id = "idAlergia" value = ""/>
                          <select id = "menuAlergia" class = "form-control">
                            <option value = "0">--Eliga una alergia--</option>
                            {{#each alergias}}
                              <option value = "{{id}}">{{alergia}}</option>
                            {{/each}}
                          </select>
                          <span class = "input-group-btn" id = "addAlergia"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class = "col-lg-6">
                  <div class = "row">
                    <div class = "col-md-12">
                      <div class = "input-group">
                        <span class = "input-group-btn" id = "eliminarAlergia"></span>
                        <div id = "inputAlergia"></div>
                      </div>
                    </div>
                  </div>
                </div><!-- fin col-lg-6 -->
              </div>
              <hr>
            </div><!-- FIN PACIENTE ALERGIAS -->
          </div><!-- FIN DE LOS DATOS CARGAGOS DINAMICAMENTE -->
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->


<div class="modal fade" id="CambiarFotoPerfil" name="CambiarFotoPerfil" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form method="POST" action="" onsubmit="verificarImagen()">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
                                <h4 class="modal-title">Selecciona el area a guardar</h4>
                                <hr/>
                                <input type="hidden" value="" name="base64file" id="base64file">
                                <div class="col-md-12" id="contenedorFoto" class="text-center" style="width: auto;margin: auto"></div>
                                <canvas id="canvas" height="300" width="300" style="display: none"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary" id="btnCrop">
                    <input type="button" value="Cancelar" class="btn btn-danger" data-toggle="modal" data-target="#CambiarFotoPerfil">
                </div>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
