<section id="plataforma">
  <div id="paciente" class="container-fluid profileHolder">
    <div class="profileHeader">
      <div class="container">
        <div class="media block">
          <div class="media-left block">
            <div class="profilePic">
              {{#if usuario.id}}
                <img src="{{usuario.urlFotoPerfil}}" />
              {{else}}
                <img src="{{valSession 'fotoPerfil'}}" id='fotoPerfil' />
                <label for="imageFile">Cambiar Imagen</label>
                <input type="file" id="imageFile" style="display:none">
              {{/if}}
            </div>
          </div>
          <div class="media-body profileGeneralInfo">
            <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
              <div class="profileGenerales">
                <div class="vCard">
                  {{#if usuario.id}}
                    <div class="main">
                      <h4 class="media-heading vcNombre Flama-normal s20">
                        {{#if usuario.DatosGenerale}}
                          {{usuario.DatosGenerale.nombre}} {{usuario.DatosGenerale.apellidoP}} {{usuario.DatosGenerale.apellidoM}}
                        {{/if}}
                      </h4>
                      <h4 class="media-heading vcUbicacion Flama-w200 s15">
                        {{#if usuario.Direccions}}
                          Guadalajara, Jalisco. MX
                        {{/if}}
                      </h4>
                    </div>
                  {{else}}
                    <div class="main">
                      <h4 class="media-heading vcNombre Flama-normal s20">
                        {{valSession "name"}}
                      </h4>
                      <h4 class="media-heading vcUbicacion Flama-w200 s15">
                        {{#ifSession "ciudad"}}
                          {{valSession "ciudad"}}, {{valSession "estado"}}
                        {{/ifSession}}
                      </h4>
                    </div>
                  {{/if}}
                </div>
                {{#unless usuario.id}}
                  <ul class="media-right profileExtraNav list-inline">
                    <li class="active"><a href="#" data-toggle="modal" data-target="#ModificarPerfilModal" onclick="cargarInfoSesion()">Edita tu perfil</a></li>
                  </ul>
                {{/unless}}
              </div>
            </div>
          </div>
          <div class="media-right profileMobileOptions">
            <ul class="options list-unstyled">
              <li>
                <span class="glyphicon glyphicon-plus"></span>
              </li>
              <li>
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok"></span>
              </li>
              <li>
                <span class="glyphicon glyphicon-comment"></span>
              </li>
            </ul>
          </div>
          <div class="profileOptions">
            <ul class="options list-unstyled">
              <li>
                <span class="glyphicon glyphicon-plus"></span> Crear nueva entrada en bitácora
              </li>
              <hr>
              <li>
                <a>
                  <span class="glyphicon glyphicon-chevron-right"></span> Consulta en línea</a>
              </li>
              <li>
                <a>
                  <span class="glyphicon glyphicon-chevron-right"></span> Intermarket</a>
              </li>
              <li>
                <a>
                  <span class="glyphicon glyphicon-chevron-right"></span> Foros</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homeBody">
    <div class="homeBodyNav">
      <div class="container">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active" role="presentation">
            <a href="#homeInicio" role="tab" data-toggle="tab" aria-controls="homeInicio">Inicio</a>
          </li>
          <li role="presentation">
            <a href="#homeBitacora" role="tab" data-toggle="tab" aria-controls="homeBitacora">Bitacora</a>
          </li>
          {{#if usuario.id}}
            <input type="hidden" id="PacienteId" value="{{usuario.Paciente.id}}" />
            {{#if usuario.medFavCol}}
              {{#ifTipoPaciente}}
                <li role="presentation" id="favoriteContact">
                  <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="eliminarFavoritos(false)">Eliminar de contactos</a>
                </li>
              {{/ifTipoPaciente}}
            {{else}}
              {{#if usuario.invitacionEnviada}}
                {{#ifTipoPaciente}}
                  <li role="presentation" id="favoriteContact">
                    <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="eliminarFavoritos(false)">Invitación enviada</a>
                  </li>
                {{/ifTipoPaciente}}
              {{else}}
                {{#if usuario.invitacionEspera}}
                  {{#ifTipoPaciente}}
                    <li role="presentation" id="favoriteContact">
                      <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="aceptarInvitacion()">Aceptar invitación</a>
                    </li>
                  {{/ifTipoPaciente}}
                {{else}}
                  {{#ifTipoPaciente}}
                    <li role="presentation" id="favoriteContact">
                      <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="agregarFavoritos(false)">Agregar a contactos</a>
                    </li>
                  {{/ifTipoPaciente}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="tab-content homeBodyElements">
      <div role="tabpanel" class="tab-pane fade in container active" id="homeInicio">
        <div class="row">
          <div class="element col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="panel elementPanel  newsFeedPanel" id="homeNewsFeed">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <span class="panelIcon glyphicon glyphicon-user"></span> News Feed</h3>
              </div>
              <div class="panel-body newsFeedBody">

              </div>
            </div>
          </div>

          <div class="element col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="panel elementPanel dropdown" id="FavColPanel">
              <div class="panel-heading">
                <h3 class="panel-title">Medicos Favoritos</h3>
              </div>
              <div class="panel-body contactosBody">
                <div class="contactosContent">
                  <div class="contactosOrderButtons">
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                      <a class="btn btn-order" role="button">Alfabeticamente</a>
                      <a class="btn btn-order" role="button">Especialidades</a>
                    </div>
                  </div>
                  <div class="contactosListContainer">
                    <ul class="contList">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-footer elementPanel">
                {{#unless usuario.id}}
                <button class="dropdown-toggle btn btn-primary Flama-bold s15" type="button" id="addForma" data-toggle="dropdown" aria-expanded="false">
                  <span class="glyphicon glyphicon-plus"></span> Invitar
                </button>
                <div id="addFormaForm" class="dropdown-form dropdown-menu dropdown-menu-right" arialabelledby="addForma">
                  <div class="panel">
                    <div class="panel-body">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-md-3 control-label">Nombre</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" id="invitar_nombre">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Correo</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" id="invitar_correo">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 control-label">Mensaje</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="invitar_mensaje">Te invito a unirte a Intermed</textarea>
                          </div>
                        </div>
                        <div class="col-md-4 col-md-offset-8">
                          <button type="button" class="btn btn-primary btn-block dropdown-form-guardar" onclick="procesarInvitacion()">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {{/unless}}
              </div>
            </div>
          </div>
          {{#if usuario.id}}
            <div class="element col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="panel elementPanel dropdown" id="ContColPanel">
                <div class="panel-heading">
                  <h4>Contactos</h4>
                </div>
                <div class="panel-body contactosBody">
                  <div class="contactosContent">
                    <div class="contactosListContainer pac">
                      <ul class="contList">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel-footer elementPanel">
                  {{#unless usuario.id}}
                  <button class="dropdown-toggle btn btn-primary Flama-bold s15" type="button" id="addForma" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"></span> Invitar
                  </button>
                  <div id="addFormaForm" class="dropdown-form dropdown-menu dropdown-menu-right" arialabelledby="addForma">
                    <div class="panel">
                      <div class="panel-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="invitar_nombre">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Correo</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="invitar_correo">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Mensaje</label>
                            <div class="col-md-9">
                              <textarea class="form-control" id="invitar_mensaje">Te invito a unirte a Intermed</textarea>
                            </div>
                          </div>
                          <div class="col-md-4 col-md-offset-8">
                            <button type="button" class="btn btn-primary btn-block dropdown-form-guardar" onclick="procesarInvitacion()">Enviar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  {{/unless}}
                </div>
              </div>
            </div>
          {{else}}
            <div class="element col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="panel elementPanel dropdown" id="ContColPanel">
                <div class="panel-heading">
                  <h3 class="panel-title">Contactos</h3>
                </div>
                <div class="panel-body contactosBody">
                  <div class="contactosContent">
                    <div class="contactosListContainer pac">
                      <ul class="contList">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel-footer elementPanel">
                  <button class="dropdown-toggle btn btn-primary Flama-bold s15" type="button" id="addForma" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"></span> Invitar
                  </button>
                  <div id="addFormaForm" class="dropdown-form dropdown-menu dropdown-menu-right" arialabelledby="addForma">
                    <div class="panel">
                      <div class="panel-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="invitar_nombre">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Correo</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="invitar_correo">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-3 control-label">Mensaje</label>
                            <div class="col-md-9">
                              <textarea class="form-control" id="invitar_mensaje">Te invito a unirte a Intermed</textarea>
                            </div>
                          </div>
                          <div class="col-md-4 col-md-offset-8">
                            <button type="button" class="btn btn-primary btn-block dropdown-form-guardar" onclick="procesarInvitacion()">Enviar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          <div class="element col-lg-5 col-md-5 col-sm-6 col-xs-6">
            <div class="panel elementPanel ">
              <div class="panel-heading">
                <h3 class="panel-title">Proximas Citas</h3>
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="element col-lg-5 col-md-5 col-sm-6 col-xs-6">
            <div class="panel elementPanel ">
              <div class="panel-heading">
                <h3 class="panel-title">Calendario</h3>
              </div>
              <div class="panel-body" style="height:250px;">
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- ... -->
      <div role="tabpanel" class="tab-pane fade container" id="homeBitacora">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">

              </div>
              <div class="panel-body">

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">

              </div>
              <div class="panel-body">

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">

              </div>
              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ... -->
      <div role="tabpanel" class="tab-pane fade container" id="profileFotografias">
        <div class="row">
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="ModificarPerfilModal" name="modificarPerfilModal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <!-- INICIO DATOS GENERALES -->
          <div class="row">
            <!-- INICIO CLASS ROW -->
            <div class="col-md-12">
              <div class="col-md-4">
                <img src="{{fotoPerfil}}" width="200" height="200" class="img-rounded">
              </div>
              <div class="col-md-8">
                <div class="col-md-12">
                  <!-- COL-md-12 inicio -->
                  <div class="row">
                    <div class="col-md-12">
                      <!-- COL-MD-12 uno inicio -->
                      <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                      <div class="col-md-4">
                        <div class="col-lg-6">
                          <div class="input-group">
                            <div id="idNombre"></div>
                            <div id="inputNombre"></div>
                            <span class="input-group-btn" id="buttonName"></span>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                      <div class="col-md-4">
                        <div class="col-lg-6">
                          <div class="input-group">
                            <div id="inputApellidoP"></div>
                            <span class="input-group-btn" id="buttonApellidoP"></span>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                      <div class="col-md-4">
                        <div class="col-lg-6">
                          <div class="input-group">
                            <div id="inputApellidoM"></div>
                            <span class="input-group-btn" id="buttonApellidoM"></span>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||| -->
                    </div>
                    <!-- COL-MD-12 uno fin -->
                  </div>
                </div>
                <!-- COL-MD-12 dos fin -->
              </div>
            </div>
          </div>
          <!-- FIN CLASS ROW -->
          <hr>
        </div>
        <!-- FIN DATOS GENERALES -->
        <div class="container-fluid">
          <!-- DEMAS DATOS CARGADOS DINAMICA -->
          <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
          <div class="row">
            <!-- INICIO ROW -->
            <div class="col-md-12">
              <!-- col-md-12 inicio -->
              <div class="row">
                <!-- row inicio -->
                <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-btn"></span>
                      </div>
                    </div>
                  </div>
                  <!-- ||||||||||||||||||||||||||||||||||||||||||| -->
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <label>LADA/S:</label>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-btn" id="buttonAddLada"></span>
                        <div id="addladaTelefono"></div>
                        <div id="idLada"></div>
                      </div>
                    </div>
                  </div>
                  <!-- |||||||||||||||||||||||||||||||||||||||||||| -->
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <label>Telefono/s:</label>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-btn" id="buttonAddTel"></span>
                        <div id="addnumeroTelefono"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
              <div class="row">
                <!-- INICIO ROW -->
                <div class="col-md-12">
                  <!-- col-md-12 inicio -->
                  <div class="row">
                    <!-- row inicio -->
                    <div class="col-md-12">
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <label>Codigo postal:</label>
                        </div>
                        <div class="col-lg-6">
                          <div class="input-group">
                            <span class="input-group-btn" id="buttonCP"></span>
                            <div id="direccionCp"></div>
                            <div id="idCp"></div>
                          </div>
                        </div>
                      </div>
                      <!-- ||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class="col-md-4">
                        <div class="col-lg-6">
                          <div class="input-group">
                            <span class="input-group-btn" id="buttonLada"></span>
                            <div id="ladaTelefono"></div>
                          </div>
                        </div>
                      </div>
                      <!-- |||||||||||||||||||||||||||||||||||||||||||| -->
                      <div class="col-md-4">
                        <div class="col-lg-6">
                          <div class="input-group">
                            <span class="input-group-btn" id="buttonTel"></span>
                            <div id="numeroTelefono"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- row fin -->
                  <!-- |||||||||||||||||||||MUNICIPIO|||||||||||||||||||||||||||||||| -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <label>Municipio</label>
                          </div>
                          <div class="col-lg-6">
                            <div class="input-group">
                              <span class="input-group-btn" id="buttonMunicipio"></span>
                              <div id="inputMunicipio"></div>
                              <div id="idMunicipio"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- |||||||||||||||||||||||FIN MUNICIPIO|||||||||||||||||||||||||||||| -->
                </div>
                <!-- col-md-12 fin -->
              </div>
            </div>
          </div>
          <!-- FIN shit -->
          <hr>
          <div class="container-fluid">
            <!-- CARGA DE BIOMETRICOS -->
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <label>Biometricos:</label>
                </div>
                <div id="idBiometrico"></div>
                <div class="col-md-3">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-btn" id="modificaBP"></span>
                      <div id="inputBiometricoPeso"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-btn" id="modificaBA"></span>
                      <div id="inputBiometricoAltura"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-btn" id="modificaBS"></span>
                      <div id="inputBiometricoSangre"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-btn" id="buttonBiometrico"></span>
                      <div id="inputBiometricoGenero">/div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <!-- FIN DE BIOMETRICOS -->
            <hr>
            <div class="container-fluid">
              <!--CONTACTO EMERGENCIA -->
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <label>Contacto/s de emergencia:</label>
                    </div>
                    <div id="idContacto"></div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-btn" id="buttonContactoNombre"></span>
                        <div id="nombreDContacto"></div>
                        <div id="contactoNombre"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <label></label>
                    </div>
                    <div id="idContacto"></div>
                    <div class="col-lg-6">
                      <div class="input-group">
                        <div id="numeroDContacto"></div>
                        <div id="contactoTel"></div>
                        <span class="input-group-btn" id="buttonContacto"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <!-- FIN CONTACTO EMERGENCIA -->
            <div class="container-fluid">
              <!-- Paciente padecimiento -->
              <div class="row">
                <div class="col-md-12">
                  <label>Padecimiento/s:</label>
                </div>
                <div class="col-lg-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <select id="menuPadecimiento" class="form-control">
                            <option value="0">--Eliga un padecimiento--</option>
                            {{#each padecimientos}}
                              <option value="{{id}}">{{padecimiento}}</option>
                            {{/each}}
                          </select>
                          <span class="input-group-btn" id="buttonAddPadecimiento"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class="col-lg-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <span class="input-group-btn" id="buttonPadecimiento"></span>
                          <div id="inputPadecimiento"></div>
                          <div id="idPadecimiento"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <!-- FIN PACIENTE PADECIMIENTO -->
            <div class="container-fluid">
              <!-- PACIENTE ALERGIAS -->
              <div class="row">
                <div class="col-md-12">
                  <label>Alergia/s:</label>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="">
                        <div class="input-group">
                          <select id="menuAlergia" class="form-control">
                            <option value="0">--Eliga una alergia--</option>
                            {{#each alergias}}
                              <option value="{{id}}">{{alergia}}</option>
                            {{/each}}
                          </select>
                          <span class="input-group-btn" id="addAlergia"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-btn" id="eliminarAlergia"></span>
                        <div id="inputAlergia"></div>
                        <div id="idAlergia"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fin col-lg-6 -->
              </div>
              <hr>
            </div>
            <!-- FIN PACIENTE ALERGIAS -->
          </div>
          <!-- FIN DE LOS DATOS CARGAGOS DINAMICAMENTE -->
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-dialog -->
