  <!-- Esta es la plantilla que se envia al correo -->
    <h1>
      Hola <p>{{name}}</p>,
      ยก {{nombresesion}} te invita a usar Intermed!

      <blockquote>
          Mensaje:
          <hr/>
          {{mensaje}}
      </blockquote>


      para formar parte de la red social de la salud ingresa aqui:
      <a href ="http://{{enlace}}">{{enlace}}</a>
    </h1>
    <button>Activar</button>
