<div class="container" id="DashboarSecretaria">
  <!--Datos de invitación-->

  <div class="row" style="margin-top:30px">
    <div class="col-lg-3 col-md-4">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="panel panel-primary" style="margin-bottom:0px">
            <div class="panel-heading">
                <img class="img-circle img-responsive center-block" alt="64x64" src="{{#valSession 'fotoPerfil'}}{{/valSession}}" data-holder-rendered="true">
            </div>
            <div class="panel-body" style="height: auto;">
              <h4><strong>{{#valSession 'name'}}{{/valSession}}</strong></h4>
            </div>
          </div>
        </div>
      </div>
      {{#if invitaciones}}
      <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary">
              <div class="panel-heading s20"><strong>Tus invitaciones pendientes</strong></div>
              <div class="panel-body" style="height: auto;padding-top: 0px;padding-bottom: 0px;">
                <div class="row" style="padding-bottom:0px">
                  <div class="list-group" style="margin-bottom:0px">
                    {{#each invitaciones}}
                      <div class="list-group-item media" style="margin-top:0px">
                        <a class="media-left media-middle" href="#">
                            <img class="pull-left img-circle" src="{{Medico.Usuario.urlFotoPerfil}}" style="max-width:40px;min-width:20px;width100%">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading s15"><strong>Dr. {{Medico.Usuario.DatosGenerale.nombre}} {{Medico.Usuario.DatosGenerale.apellidoP}} {{Medico.Usuario.DatosGenerale.apellidoM}}</strong></h4>
                          <p style="text-right">
                            <span>¿Administrar a este médico?</span>
                          </p>
                        </div>
                        <div class="media-right media-middle" href="#">
                            <button class="btn btn-success btn-xs" onclick="aceptarInvitacion({{Medico.id}},this)"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-danger btn-xs" onclick="rechazarInvitacion({{Medico.id}},this)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>

                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
      {{/if}}
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row" style="margin:0px;padding:0px;margin-right: -1px;">
              <div class="col-md-3 col-sm-12 col-xs-12 text-center" style="margin:0px;padding:0px;">
                <span class="s20">Tus doctores</span>
              </div>
              <div class="col-md-9 hidden-sm hidden-xs" style="margin:0px;padding:0px;">
                <div class="row text-center" style="margin:0px;padding:0px;">
                  <div class="col-md-4 dia1" style="margin:0px;padding:0px;">
                    <span class="heading s20"></span>
                  </div>
                  <div class="col-md-4 dia2 text-center" style="margin:0px;padding:0px;">
                    <span class="heading s20"></span>
                  </div>
                  <div class="col-md-4 dia3 text-center" style="margin:0px;padding:0px;">
                    <span class="heading s20"></span>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="panel-body" style="height: auto;margin:0px;padding:0px">
          <div class="list-group" style="margin-bottom:0px">
            {{#each medicos}}
            <div class="list-group-item MedicoSecretaria" style="padding-top:0px;padding-bottom:0px;" id="MedicoSecretaria_{{Medico.id}}">
                <div class="row s15" style="padding:0px">
                  <div class="col-md-3" style="padding:15px">
                    <div class="row" style="height: 270px;">
                      <div class="body-container">
                        <div class="center-content">
                          <div class="col-md-12 text-center">
                            <img src="{{Medico.Usuario.urlFotoPerfil}}" class="img-circle" style="max-width:80%">
                          </div>
                          <div class="col-md-12 text-center">
                            Dr. {{Medico.Usuario.DatosGenerale.nombre}} {{Medico.Usuario.DatosGenerale.apellidoP}} {{Medico.Usuario.DatosGenerale.apellidoM}}
                          </div>
                          <div class="col-md-12 text-center">
                            <button class="btn btn-warning btn-block" onclick="window.location.href='s/{{Medico.Usuario.usuarioUrl}}'">Ver oficina</button>
                            <!--<button class="btn btn-danger btn-block pull-right" onclick="eliminarRelacionMedico({{Medico.id}},this)">Eliminar</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="row" style="padding-bottom:0px">
                      <div class="col-md-4" style="padding:0px;height:auto">
                        <div class="panel panel-default dia1" style="margin:0px;border-radius: 0px;">
                          <div class="panel-heading hidden-lg hidden-md text-center heading" style="height: 30px;">&nbsp;</div>
                          <div class="panel-body" style="height: 300px;overflow-y:auto;border-radius: 0px;padding: 0px;"></div>
                        </div>
                      </div>
                      <div class="col-md-4" style="padding:0px;height:auto">
                        <div class="panel panel-default dia2" style="margin:0px;border-radius: 0px;">
                          <div class="panel-heading hidden-lg hidden-md text-center heading" style="height: 30px;">&nbsp;</div>
                          <div class="panel-body" style="height: 300px;overflow-y:auto;border-radius: 0px;padding: 0px;"></div>
                        </div>
                      </div>
                      <div class="col-md-4" style="padding:0px;height:auto">
                        <div class="panel panel-default dia2" style="margin:0px;border-radius: 0px;">
                          <div class="panel-heading hidden-lg hidden-md text-center heading" style="height: 30px;">&nbsp;</div>
                          <div class="panel-body" style="height: 300px;overflow-y:auto;border-radius: 0px;padding: 0px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
