<form  class="bg-white" method="post" onsubmit="return registrarSecretaria()">
  <div class="container">
    <div class="row">
      <div class="body-container">
        <div class="center-content">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Datos de invitación-->
            <div class="row">
              <div class="col-md-12">
                <h3 class="h45-light s25 text-uppercase">
                  ¡Bienvenido(a)!
                </h3>
                <p>
                  El <u>Dr. {{invitacion.Medico.Usuario.DatosGenerale.nombre}} {{invitacion.Medico.Usuario.DatosGenerale.apellidoP}} {{#if invitacion.Medico.Usuario.DatosGenerale.nombre}}&nbsp;{{invitacion.Medico.Usuario.DatosGenerale.nombre}}{{/if}}</u> quiere que seas su secretaria en Intermed, y te ha invitado a unirte a esta plataforma.
                </p>
                <p>Para registrarte llena el siguiente formulario:</p>
                <span class="hidden" id="tokenSec">{{invitacion.token}}</span>
              </div>
            </div>
            <!--Información de registro-->
            <div class="row">
              <div class="col-md-12">
                <h3 class="h45-light s20 text-uppercase">
                  datos personales
                </h3>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label class="s15 regInput" for="nombreRegMed">Nombres</label>
                      <input type="text" class="form-control regInput" id="nombreSec" name="nombreSec" placeholder="Nombres" value="" autocomplete="off" required="true">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-group">
                      <label class="s15 regInput" for="apePatRegMed">Apellido Paterno</label>
                      <input type="text" class="form-control regInput" id="apePSec" name="apePSec" placeholder="Apellido Paterno" value="" autocomplete="off" required="true">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-group">
                      <label class="s15 regInput" for="apePatRegMed">Apellido Materno</label>
                      <input type="text" class="form-control regInput" id="apeMSec" name="apeMSec" placeholder="Apellido Materno" value="" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <label class="s15 regInput" for="nombreRegMed">Estado</label>
                      <select type="text" class="form-control regInput" id="selectEstados" name="selectEstados" required="true" onchange="cargarCiudades('#selectEstados');">
                        <option value="" disabled selected>Estado</option>
                        {{#each estados}}
                          <option value="{{id}}" >{{estado}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-group">
                      <label class="s15 regInput" for="apePatRegMed">Municipio/Ciudad</label>
                      <select type="text" class="form-control regInput" id="selectCiudad" name="selectCiudad" required="true">
                        <option value="" disabled>Municipio/Ciudad</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Información de inicio-->
            <div class="row">
              <div class="col-md-12">
                <h3 class="h45-light s20 text-uppercase">
                  datos de ingreso
                </h3>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="h45-light s15 text-uppercase">
                      Correo: <strong>{{invitacion.correo}}</strong>
                    </h4>
                    <span id="correoSec" class="hidden">{{invitacion.correo}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label class="s15 regInput" for="apePatRegMed">Contraseña</label>
                      <input type="password" class="form-control regInput" id="passSec" name="passSec" placeholder="Contraseña" value="" autocomplete="off" required="true">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label class="s15 regInput" for="apePatRegMed">Confirmar contraseña</label>
                      <input type="password" class="form-control regInput" id="passSec2" name="passSec2" placeholder="Confirmar contraseña" value="" autocomplete="off" required="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 pull-right">
                <button class="btn btn-primary btn-block"><strong>Regístrate</strong></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
