<link href="css/mapa.css" rel="stylesheet" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places&components=country:‌​MX&sensor=true&key=AIzaSyCBOC0Cq0T10nAmZNLkVMVBzU6MLd3DfKs"></script>
<section id="directorio">
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h4>{{title}}</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="idUsuario" value="{{usuario_id}}" id="idUsuario" />                            
                            {{#each direccion}}
                            <div id="direccion{{id}}">
                                <h1 id="titulo{{id}}">{{nombre}}</h1>
                                <input type="text" value="{{latitud}}" id="latitud{{id}}" name="latitud{{id}}" />
                                <input type="text" value="{{longitud}}" id="longitud{{id}}" name="longitud{{id}}" />
                                <p>{{calle}}&nbsp;{{numero}}</p>
                                <p>{{colonia}}</p>
                                <p>{{Municipio.municipio}}, {{Municipio.Estado.estado}}</p>
                                <a href="registrarubicacion?idDireccion={{id}}">Editar Ubicaci&oacute;n</a>
                            </div>
                            {{/each}}
                        </div>                        
                        <div class="col-md-8">
                            <div class="col-md-12">                                
                                <div id="mapDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/mapa.js"></script>