<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="es">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Nuevo Perfil</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.Jcrop.css" />
    <link rel="stylesheet" type="text/css" href="css/intermed.css">
    <link rel="stylesheet" type="text/css" href="css/intermed_Platform.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/mapa.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>

  <body>
    {{#unless name}}
      <input type="hidden" id="inicio" value="{{valSession 'inicio'}}">
      <input type="hidden" id="registroCompleto" value="{{valSession 'registroCompleto'}}">
      <input type="hidden" id="tipoUsuario" value="{{valSession 'tipoUsuario'}}">
      <input type="hidden" id="usuarioPerfil" value="{{#if usuario.id}}{{usuario.id}}{{else}}{{valSession 'id'}}{{/if}}">
    {{/unless}}

    {{{body}}}
  </body>
  <script src="js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="js/FontUtils.js"></script>
  <script src="js/utils.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="js/jquery.Jcrop.js"></script>
  <script src="js/jquery.SimpleCropper.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places&components=country:‌​MX&sensor=true&key=AIzaSyCBOC0Cq0T10nAmZNLkVMVBzU6MLd3DfKs"></script>
  <script src="js/mapa.js"></script>
  <script src="js/jquery.maskedinput.js"></script>
  <script src='js/jquery.mjs.nestedSortable.js'></script>
  <script src="js/jcarousel.js"></script>
  <script src="js/bootbox.min.js"></script>
  <script src="js/bootboxDialogs.js"></script>
  <script src="js/jquery.bxslider.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.serialScroll.js"></script>
  <script src="js/jquery.scroll-utils.js"></script>

</html>
