<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Intermed | La red social de la salud</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.Jcrop.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/intermed.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var str = "";
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            if (minutes < 10)
                minutes = "0" + minutes;
            if (seconds < 10)
                seconds = "0" + seconds;
            str += hours + ":" + minutes + ":" + seconds;
            $("#regi").click(function() {
                $("#tiempo").val(str);
            });
        });
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <!-- interno -->
    <!-- empieza nav superior -->
    <nav id="navIntern">
        <section class="container">
            <div class="row">
                <div id="logo" class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-left">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <a href="/">
                            <img class="logo-color" src="img/logo-color.png" />
                        </a>
                    </div>
                    <div class="col-md-11 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="flama-w200 slogan">
                                <p class="text-left">
                                    <span class="s25">intermed <sup>&reg</sup></span> |
                                    <strong>La red social</strong> de la salud.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="atnc-clientes" class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-right">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-right" id="menubar">
                                <img src="{{valSession 'fotoPerfil'}}" width="50" height="50" id="fotoPerfilMini">
                                <a href="">Calendario {{sesion.calendario}}</a> |
                                <a href="">Mensajes {{sesion.mensajes}}</a> |
                                <a href="/logout">Cerrar Sesión</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </nav>
    <input type="hidden" id="inicio" value="{{valSession 'inicio'}}">
    <input type="hidden" id="registroCompleto" value="{{valSession 'registroCompleto'}}">
    <input type="hidden" id="tipoUsuario" value="{{valSession 'tipoUsuario'}}">
    {{{body}}}
    <footer>
        <div class="container">
            <p class="navbar-text">
                {{#ifSession "admin"}}
                <a href="/registro" class="login">registro de médicos</a> |
                <a href="/logout" class="text-danger">cerrar sesión</a> | {{else}}
                <a class="login" href="#" data-toggle="modal" data-target="#adminLoginModal">Admin</a> | {{/ifSession}}
                <a href="#">Privacidad</a> | <a href="#">FAQs</a> | Todos los derechos reservados InterMed &reg 2015 / NewChannel &reg 2015
            </p>
        </div>
    </footer>

    <div class="modal fade" id="CatRegModal" tabindex="-1" role="dialog" aria-labelledby="CatRegLabel">
        <div class="modal-dialog modal-lg">
            <form method="" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Intermed&reg | Registro</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <h3 class="Flama-bold">SELECCIONA</h3>
                            <h1 class="Flama-normal">TU CATEGORÍA</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="iconos-servicios hi-icon-wrap hi-icon-effect hi-icon-effect-a">
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="hi-icon hi-icon-modal" data-dismiss="modal" data-toggle="modal" data-target="#RegModal">
                                            <img class="hi-icon-img" src="img/BotonPacientes.png">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a href="#set-9" class="hi-icon hi-icon-modal">
                                            <img class="hi-icon-img" src="img/BotonMedicos.png">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a href="#set-9" class="hi-icon hi-icon-modal">
                                            <img class="hi-icon-img" src="img/BotonInstituciones.png">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a href="#set-9" class="hi-icon hi-icon-modal">
                                            <img class="hi-icon-img" src="img/BotonProveedores.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
            </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginLabel">
        <div class="modal-dialog">
            <form method="POST" action="/auth/correo">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Intermed&reg | Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <input name="loginFB" value="Login con Facebook" class="btn btn-primary btn-block" onclick="window.location='/auth/facebook'">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Usuario" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="true">
                                </div>
                                <input type="submit" name="login" value="Ingresar" class="btn btn-primary btn-block">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="text-center">
                            <small>Recuerda que instituciones, proveedores y secretarias solo pueden ingresar con su correo y contraseña.</small>
                            <br>
                            <small>¿Olvidaste tus datos de acceso? <a href="#">Haz click aqui para recuperarlos</a></small>
                        </p>
                    </div>
            </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="adminLoginModal" tabindex="-1" role="dialog" aria-labelledby="adminLoginLabel">
        <div class="modal-dialog modal-sm">
            <form method="POST" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Porfavor, inicia sesión:</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="loginType" value="admin" />
                        <div class="form-group">
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="login" value="Ingresar" class="btn btn-primary btn-block">
                    </div>
            </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- /.modal -->
    <div class="modal fade" id="RegMedModal">
        <div class="modal-dialog modal-lg Flama-normal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="FlamaBook-normal s25 regHeader">Intermed&reg / <b>Registro Médicos</b> </h4>
                </div>
                <div class="step">
                    <div class="modal-body regPersonales">
                        <form id="regMedStepOne">
                            <div class="row topMsgReg">
                                <div class="col-md-12">
                                    <h4 class="Flama-bold s20">¡Bienvenido Dr. Fulano de Tal!
                                        <small>Por favor llena los siguientes campos para continuar con tu registro.</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="alertError"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="regBox rB-gray">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="nombreRegMed">Nombres</label>
                                                    <input type="text" class="form-control" id="nombreRegMed" name="nombreRegMed" placeholder="Nombres">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="apePatRegMed">Apellido Paterno</label>
                                                    <input type="text" class="form-control" id="apePatRegMed" name="apePatRegMed" placeholder="Apellido Paterno">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="apePatRegMed">Apellido Materno</label>
                                                    <input type="text" class="form-control" id="apeMatRegMed" name="apeMatRegMed" placeholder="Apellido Materno">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="Flama-normal s15">Fecha de Nacimiento</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="diaNacReg" name="birthdayDay" placeholder="Dia" required="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="mesNacReg" name="birthdayMonth" placeholder="Mes" required="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="añoNacReg" name="birthdayYear" placeholder="Año" required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <label class="Flama-normal s15">Sexo</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="gender" id="sexM" value="M"> Masculino
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="gender" id="sexF" value="F"> Femenino
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="separator2">
                                    <div class="regBox rB-gray">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="curpRegMed">CURP</label>
                                                    <input type="text" class="form-control" id="curpRegMed" name="curpRegMed" placeholder="CURP">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="cedulaRegMed">Cedula Profesional</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="cedulaRegMed" name="cedulaRegMed" placeholder="CEDULA">
                                                        <span class="input-group-addon verificarAddon">
                                                            <button class="btn btn-warning verificarBtn Flama-normal s15">Verificar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9">
                                    <input type="button" id="regi" name="registroCorreo" value="Registrate" class="btn btn-primary btn-block btn-step" onclick="saveStepOne()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="step">
                    <div class="modal-body regPago">
                        <div class="row topMsgReg">
                            <div class="col-md-8">
                                <h4 class="Flama-bold s20">Selecciona tu forma de pago.</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="msgPrecio text-center FlamaBook">
                                    <span class="trngl"></span>Recuerda que tu suscripción tiene un costo mensual de $1,000.00
                                </div>
                            </div>
                        </div>
                        <div class="row selTipoPago">
                            <div class="col-md-12">
                                <form class="radio">
                                    <div id="tarjOpt">
                                        <label class="bigLabel Flama-normal">
                                            <input type="radio" name="optionsRadios" id="tarjetaOptReg" value="tarjeta" checked=""> Tarjeta de crédito
                                        </label>
                                        <div id="tarjOptBox" class="regBox rB-gray">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="Flama-normal s15" for="tipoTarjetaRegMed">Tipo de tarjeta</label>
                                                        <input type="text" class="form-control" id="tipoTarjetaRegMed" name="tipoTarjetaRegMed" placeholder="Visa / Mastercard / etc">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="Flama-normal s15" for="numTarjetaRegMed">Número de la tarjeta</label>
                                                        <input type="text" class="form-control" id="numTarjetaRegMed" name="numTarjetaRegMed" placeholder="xxxx-xxxx-xxxx-xxxx">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="Flama-normal s15" for="vencMesTarjetaRegMed">Vencimiento</label>
                                                                <input type="number" class="form-control" id="vencMesTarjetaRegMed" name="vencMesTarjetaRegMed" placeholder="Mes">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="Flama-normal s15" for="vencAñoTarjetaRegMed">Vencimiento</label>
                                                                <input type="number" class="form-control" id="vencAñoTarjetaRegMed" name="vencAñoTarjetaRegMed" placeholder="Año">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="Flama-normal s15" for="seguridadTarjetaRegMed">Seguridad</label>
                                                                <div class="input-group">
                                                                    <input type="password" class="form-control" id="seguridadTarjetaRegMed" name="seguridadTarjetaRegMed">
                                                                    <span class="input-group-addon glyphicon">
                                                                        <a tabindex="0" role="button" data-toggle="popover" title="Codigo de seguridad:" data-placement="bottom" data-container="body" data-content="El numero de seguridad se encuentra al reverso de tu tarjeta.">
                                                                            <span class="glyphicon-question-sign"></span>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="Flama-normal s15" for="nombreTarjetaRegMed">Nombre del titular</label>
                                                        <input type="text" class="form-control" id="nombreTarjetaRegMed" name="nombreTarjetaRegMed" placeholder="Tal como aparece en la tarjeta">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>
                                                            <br>
                                                        </label>
                                                        <input type="button" id="registraTarjeta" name="registraTarjeta" value="Pagar" class="btn btn-warning btn-block Flama-normal s15" onclick="saveStepTwo()">
                                                    </div>
                                                </div>
                                                <div class="col-md-5 secureStamp">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>
                                                                <span class="glyphicon glyphicon-lock"></span>
                                                                <strong>Este es un sitio seguro</strong>
                                                                <br>
                                                                <small>Utilizamos conexiones seguras para proteger su información.</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="securedImgs row">
                                                        <div class="col-md-3">
                                                            <img alt="verisign" src="/img/verisign.png">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <img alt="ssl" src="/img/ssl.png">
                                                        </div>
                                                        <div class="col-md-7">
                                                            <img alt="newchannel" src="/img/newchannel-350x61.png">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="separator3">
                                    <div id="paypalOpt">
                                        <label class="bigLabel Flama-normal">
                                            <input type="radio" name="optionsRadios" id="paypalOptReg" value="paypal"> PayPal
                                        </label>
                                        <div id="paypalOptBox" class="regBox rB-gray">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="Flama-normal s15" for="paypalUser">Usuario de PayPal</label>
                                                        <input type="text" class="form-control" id="paypalUser" name="paypalUser" placeholder="Usuario">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="Flama-normal s15" for="paypalPass">Constraseña</label>
                                                        <input type="passwrod" class="form-control" id="paypalPass" name="paypalPass" placeholder="Contraseña">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>
                                                        <br>
                                                    </label>
                                                    <input type="button" id="paypalLogin" name="paypalLogin" value="PayPal Login" class="btn btn-warning btn-block Flama-normal s15">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href="#">¿Olvidaste tu Usuario o Contraseña de Paypal? Haz click aquí.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step">
                    <div class="modal-body regFacturacion">
                        <div class="row topMsgReg">
                            <div class="col-md-12">
                                <h4 class="msgSuccess Flama-bold s20">¡Tu pago ha sido procesado, gracias!</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="bigLabel Flama-normal">Ingresa tus datos de facturación</label>
                                <div class="regBox rB-gray">
                                    <form id="regMedStepThree">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="nomRSocialFact">Nombre o Razón Social</label>
                                                    <input type="text" class="form-control" id="nomRSocialFact" name="nomRSocialFact" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="rfcFact">RFC con homoclave</label>
                                                    <input type="text" class="form-control" id="rfcFact" name="rfcFact" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="slc_estados">Estado</label>
                                                    <select class="form-control" id="slc_estados" onchange="obtenerCiudades()">
                                                        <option value=""></option>
                                                        {{#each estados}}
                                                        <option value='{{id}}'>{{estado}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="ciudadFact" onchange="">Ciudad</label>
                                                    <select class="form-control" id="slc_ciudades" onchange="obtenerColonias()">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="slc_colonias">Colonia</label>
                                                    <select class="form-control" id="slc_colonias" name="locFact" onchange="obtenerCP()">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="nmb_cp">Código Postal</label>
                                                    <input type="text" class="form-control" id="nmb_cp" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="calleFact">Calle</label>
                                                    <input type="text" class="form-control" id="calleFact" name="calleFact" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="Flama-normal s15" for="numeroFact">Numero</label>
                                                    <input type="text" class="form-control" id="numeroFact" name="numeroFact" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4">
                                                <input type="button" class="btn btn-warning btn-block" value="Guardar" onclick="saveStepTree()">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- end modal regMedico -->



    <div class="modal fade" id="RegEndModal">
        <div class="modal-dialog modal-lg Flama-normal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="FlamaBook-normal s25 regHeader">Intermed&reg / <b>Registro Médicos</b> </h4>
                </div>
                <div class="modal-body regFacturacion">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="bigLabel Flama-normal text-center" style="width:100%;padding-top:110px;height:400px">
                                <h1>¡Haz concluido tu registro, gracias!
                                    <br/>
                                    <img src="http://dictionary.cambridge.org/pt/utilities/2015-08-27-1223/external/images/spinner.gif" width="140" />
                                </h1>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="js/jquery.Jcrop.js"></script>
<script src="js/jquery.SimpleCropper.js"></script>
<script src="js/utils.js"></script>

</html>
