<section id="feedback" class="bg-greyBlue">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading bg-darkBlue">
            <div class="row noPadding">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                <h4 class="h67-medcond noMargin">Estadisticas Generales</h4>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
                <div class="btn-group"  data-toggle="buttons">
                  <label class="btn btn-default btn-sm active" onclick="getFeedback(1)"><input type="radio" name="tipoGrafica" autocomplete="off" checked>General</label>
                  <label class="btn btn-default btn-sm" onclick="getFeedback(2)"><input type="radio" name="tipoGrafica" autocomplete="off">Higiene</label>
                  <label class="btn btn-default btn-sm" onclick="getFeedback(3)"><input type="radio" name="tipoGrafica" autocomplete="off">Instalaciones</label>
                  <label class="btn btn-default btn-sm" onclick="getFeedback(4)"><input type="radio" name="tipoGrafica" autocomplete="off">Puntualidad</label>
                  <label class="btn btn-default btn-sm" onclick="getFeedback(5)"><input type="radio" name="tipoGrafica" autocomplete="off">Trato</label>
                  <label class="btn btn-default btn-sm" onclick="getFeedback(6)"><input type="radio" name="tipoGrafica" autocomplete="off">Costo</label>
                </div>
                <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#panel-feedbackResult" aria-expanded="false" aria-controls="panel-feedbackResult">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </div>
            </div>
          </div>
          <div id="panel-feedbackResult" class="panel-body bg-white collapse in">
            <canvas id="feedbackResult"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row noPadding">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading bg-darkBlue">
            <h4 class="h67-medcond noMargin">Indices de Satisfacción</h4>
          </div>
          <div class="panel-body bg-white col-lg-12 col-md-12 col-sm-6 col-xs-6" style="margin-bottom:15px;">
            <div class="row noPadding">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="h67-medcond s20" style="position: absolute;top: 0;left: 0px;right: 0;display: block;bottom: 0;">
                  <div class="body-container">
                    <div class="center-content text-center">
                      <p class="noMargin">Top Dr.<br>
                        <span class="s30" id="topDrPer"></span>
                      </p>
                    </div>
                  </div>
                </div>
                <canvas id="feedbackTopDr" class="center-block"></canvas>
              </div>
            </div>
          </div>
          <div class="panel-body bg-white col-lg-12 col-md-12 col-sm-6 col-xs-6" style="margin-bottom:15px;">
            <div class="row noPadding" id="starsContainer">
              <div class="body-container">
                <div class="center-content text-center">
                  <div id="feedbackGeneral"></div>
                  <p class="noMargin h67-medcond s20">Estrellas Obtenidas<br>
                  </p>
                  <button type="button" class="btn btn-xs btn-default" type="button" data-toggle="popover" data-title="Tus estrellas" data-placement="top" id="starDetails" onclick="mostrarDetallesEstrellas()">Ver más <span class="caret"></span></button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="moderarComentarios" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading bg-darkBlue">
            <h4 class="h67-medcond noMargin">Comentarios</h4>
          </div>
          <div class="panel-body bg-white">
            <table class="table noMargin">
              <tbody>
                {{#each comentarios}}
                  <tr>
                    <td class="noBorder">
                      <div class="comentario row">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 ">
                          <div class="media comment-container">
                            <div class="media-left">
                              <img class="img-circle comment-img" style="width: 150px;" src="{{Usuario.urlFotoPerfil}}">
                            </div>
                            <article class="media-body">
                              <p class="comment-date s15 h67-medium text-muted">
                                {{#formatearFechaComentario fecha}}{{/formatearFechaComentario}}
                              </p>
                              <p class="comment-autor s15 h75-bold">
                                <span class="text-capitalize">
                                  {{#if anonimo}}
                                    Anonimo
                                  {{else}}
                                    {{Usuario.DatosGenerale.nombre}} {{Usuario.DatosGenerale.apellidoP}} {{Usuario.DatosGenerale.apellidoM}}
                                  {{/if}}.</span>
                              </p>
                              <div class="text-uppercase s30 h67-medcond">{{titulo}}</div>
                              <p class="comment-text s15 h67-medium">{{comentario}}</p>
                            </article>
                            <div class="media-right">
                              <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffvisible_{{this.id}}" {{#if visible}} checked {{/if}} onchange="cambiarComentarioVisible(this,'{{this.id}}')">
                                <label class="onoffswitch-label" for="onoffvisible_{{this.id}}">
                                  <span class="onoffswitch-inner"></span>
                                  <span class="onoffswitch-switch"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 pull-right">
                          {{#if respuesta}}
                            <div class="media comment-container respuesta">
                              <article class="media-body text-right">
                                <p class="comment-date s15 h67-medium text-muted pull-right">
                                  {{#formatearFechaComentario fecharespuesta}}{{/formatearFechaComentario}}
                                </p>
                                <span class="clearfix"></span>
                                <p class="comment-autor s15 h75-bold noMargin">
                                  <span class="text-capitalize">Dr. {{#valSession 'name'}}{{/valSession}}</span>
                                </p>
                                <p class="comment-text s15 h67-medium respuesta">{{respuesta}}</p>
                                <button class="btn btn-default" onclick="editarComentario({{this.id}}, this)">Editar</button>
                              </article>
                              <div class="media-right bottom-content">
                                <img class="img-circle comment-img noMargin" style="width:90px;" src="{{#valSession 'fotoPerfil'}}{{/valSession}}">
                              </div>
                            </div>
                          {{else}}
                          <div class="media comment-container respuesta">
                            <div class="media-body">
                              <div class="row noPadding">
                                <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                                  <div class="form-group noMargin">
                                    <textarea class="form-control" style="resize:none;" rows="3" id="textComment_{{this.id}}"></textarea>
                                  </div>
                                  <div class="form-group noMargin">
                                    <button class="btn btn-default pull-right" onclick="responderComentario({{this.id}});">Responder</button>
                                  </div>
                              	</div>
                              </div>
                            </div>
                            <div class="media-right bottom-content">
                              <img class="img-circle comment-img noMargin" style="width:90px;" src="{{#valSession 'fotoPerfil'}}{{/valSession}}">
                            </div>
                          </div>
                          {{/if}}
                        </div>
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
