<section id="plataforma">
    <div id="medico" class="container-fluid profileHolder">
        <div class="profileHeader">
            <div class="container">
                <div class="media block">
                    <div class="media-left block">
                        <div class="profilePic">
                            {{#if usuario.id}}
                                <img src="{{usuario.urlFotoPerfil}}" />
                            {{else}}
                                <img src="{{valSession 'fotoPerfil'}}" id='fotoPerfil' />
                                <label for="imageFile">Cambiar Imagen</label>
                                <input type="file" id="imageFile" style="display:none">
                            {{/if}}
                        </div>
                        <div class="topDrBadge">Top Doctor</div>
                    </div>
                    <div class="media-body profileGeneralInfo">
                        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                            <div class="profileGenerales">
                                <div class="vCard">
                                    {{#if usuario.id}}
                                        <input type="hidden" id="MedicoId" value="{{usuario.Medico.id}}" />
                                        <div class="main">
                                            {{#if usuario.DatosGenerale}}
                                            <h4 class="media-heading nombreMedico Flama-normal s20">
                                                Dr. {{usuario.DatosGenerale.nombre}} {{usuario.DatosGenerale.apellidoP}} {{usuario.DatosGenerale.apellidoM}}
                                            </h4>
                                            {{/if}}
                                            {{#if usuario.localidad}}
                                            <h4 class="media-heading ubicacionMedico Flama-w200 s15">
                                                {{usuario.localidad.ciudad}} {{usuario.localidad.estado}}
                                            </h4>
                                            {{/if}}
                                        </div>
                                        <ul class="list-unstyled list-inline espList s15" id="session_especialidades">
                                            {{#each usuario.especialidades}}
                                                {{#unless subEsp}}
                                                    <li>{{Especialidad.especialidad}}</li>
                                                {{/unless}}
                                            {{/each}}
                                        </ul>
                                        <ul class="list-unstyled list-inline subEspList s15" id="session_subEspecialidades">
                                            {{#each usuario.especialidades}}
                                                {{#if subEsp}}
                                                    <li>
                                                        <small>{{Especialidad.especialidad}}</small>
                                                    </li>
                                                {{/if}}
                                            {{/each}}
                                        </ul>
                                    {{else}}
                                        <div class="main">
                                            <h4 class="media-heading nombreMedico Flama-normal s20" id='session_nombreUsuario'>
                                                {{#ifSession "name"}}
                                                    Dr. {{valSession "name"}}
                                                {{else}}
                                                    No tenemos registrado tu nombre, por favor continua con tu registro <a onclick="informacionRegistroMedico()">aquí</a>
                                                {{/ifSession}}
                                            </h4>
                                            <h4 class="media-heading ubicacionMedico Flama-w200 s15" id='session_ubicacion'>
                                                {{#ifSession "ciudad"}}
                                                    {{valSession "ciudad"}}, {{valSession "estado"}}
                                                {{/ifSession}}
                                            </h4>
                                        </div>
                                        <ul class="list-unstyled list-inline espList s15" id="session_especialidades">
                                        </ul>
                                        <ul class="list-unstyled list-inline subEspList s15" id="session_subEspecialidades">
                                        </ul>
                                    {{/if}}
                                </div>
                                {{#unless usuario.id}}
                                <ul class="media-right profileExtraNav list-inline">
                                    <li class="active"><a href="#">Editar Perfil</a></li>
                                    {{#unlessSessionVal 'registroCompleto'}}
                                        <li id="registroIncompleto"><a onclick="informacionRegistroMedico()">Continuar registro</a></li>
                                    {{/unlessSessionVal}}
                                    <li><a href="#">algo</a></li>
                                    <li><a href="#">otra cosa</a></li>
                                </ul>
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                    <div class="media-right profileMobileOptions">
                        <ul class="options list-unstyled">
                            <li>
                                <span class="glyphicon glyphicon-plus"></span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-ok"></span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-comment"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="profileOptions">
                        <ul class="options list-unstyled">
                            <li>
                                <span class="glyphicon glyphicon-plus"></span> Agenda una cita
                            </li>
                            <hr>
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-chevron-right"></span> Recomienda a un amigo</a>
                            </li>
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-chevron-right"></span> Califica su servicio</a>
                            </li>
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-chevron-right"></span> Envía un mensaje</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="profileBody">
            <div class="profileBodyNav">
                <div class="container">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#profileElements" role="tab" data-toggle="tab" aria-controls="profileElements">Perfil</a>
                        </li>
                        <li role="presentation">
                            <a href="#profilePublicaciones" role="tab" data-toggle="tab" aria-controls="profilePublicaciones">Publicaciones</a>
                        </li>
                        <li role="presentation">
                            <a href="#profileFotografias" role="tab" data-toggle="tab" aria-controls="profileFotografias">Fotografias</a>
                        </li>
                        {{#if usuario.id}}
                                {{#if usuario.medFavCol}}
                                    {{#ifSession "id"}}
                                        {{#ifTipoMedico}}
                                        <li role="presentation" id="favoriteContact">
                                            <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="eliminarFavoritos()">Eliminar de colegas</a>
                                        </li>
                                        {{else}}
                                        <li role="presentation" id="favoriteContact">
                                            <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="eliminarFavoritos()">Eliminar de favoritos</a>
                                        </li>
                                        {{/ifTipoMedico}}
                                    {{/ifSession}}
                                {{else}}
                                    {{#ifSession "id"}}
                                        {{#ifTipoMedico}}
                                        <li role="presentation" id="favoriteContact">
                                            <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="agregarFavoritos()">Agregar a colegas</a>
                                        </li>
                                        {{else}}
                                        <li role="presentation" id="favoriteContact">
                                            <a id="addFavoriteContact" class="btn btn-primary btn-block" onclick="agregarFavoritos()">Agregar de favoritos</a>
                                        </li>
                                        {{/ifTipoMedico}}
                                    {{/ifSession}}
                                {{/if}}
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <div class="tab-content profileBodyElements">
                <div role="tabpanel" class="tab-pane fade in container active" id="profileElements">
                    <div class="row">
                        <div class="element col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="panel panel-primary cvPanel" id="profileCV">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span class="panelIcon glyphicon glyphicon-user"></span> Currículum</h3>
                                </div>
                                <div class="panel-body cvBody">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#formacionExperiencia" aria-controls="formacionExperiencia" role="tab" data-toggle="tab">Home</a></li>
                                        <li role="presentation"><a href="#colegiosAsociaciones" aria-controls="colegiosAsociaciones" role="tab" data-toggle="tab">Profile</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content cvContent">
                                        <div role="tabpanel" class="tab-pane fade in active" id="formacionExperiencia">
                                            <div class="cvSection">
                                                <div class="cvSectionHead">
                                                    <h4>Formación y experiencia</h4>
                                                    <div class="addExp">
                                                        <button class="btn btn-primary btn-block">
                                                            <span class="glyphicon glyphicon-plus"> Añadir Experiencia</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="cvSectionBody">
                                                    <p>
                                                        <h4>Licenciatura</h4>
                                                        Institución: Universidad Regiomontana
                                                        <br> Nombre del Programa: Contador Público y Auditor
                                                        <br> Especialidad: Finanzas
                                                        <br> Periodo: 1967 - 1972
                                                        <br> Fecha de obtención del grado: Julio de 1972
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="colegiosAsociaciones">
                                            <h4>Colegios y asociaciones</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="element col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ubicaciones</h3>
                                </div>
                                <div class="panel-body" style="height:250px;">
                                </div>
                            </div>
                        </div>
                        <div class="element col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Galería fotográfica</h3>
                                </div>
                                <div class="panel-body" style="height:250px;">
                                </div>
                            </div>
                        </div>
                        <div class="element col-lg-7 col-md-7 col-sm-6 col-xs-6">
                            <div class="panel panel-primary" id="profileHospAseg">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Hospitales y Clínicas / Aseguradoras</h3>
                                </div>
                                <div class="panel-body" style="height:250px;">

                                </div>
                            </div>
                        </div>
                        <div class="element col-lg-5 col-md-5 col-sm-6 col-xs-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Colegas Favoritos</h3>
                                </div>
                                <div class="panel-body" style="height:250px;" id="FavColPanel">
                                </div>
                            </div>
                        </div>
                        <div class="element col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="panel panel-primary" id="profileComments">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Comentarios</h3>
                                </div>
                                <div class="panel-body" style="height:250px;">

                                </div>
                            </div>
                        </div>


                        <div class="element col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Padecimientos</h3>
                                </div>
                                <div class="panel-body" style="height:250px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ... -->
                <div role="tabpanel" class="tab-pane fade container" id="profilePublicaciones">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">

                                </div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">

                                </div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">

                                </div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ... -->
                <div role="tabpanel" class="tab-pane fade container" id="profileFotografias">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
