<section id="medicoSecretaria">
  <div class="container-fluid agendaTopContainer">
    <div class="agendaTop noPadding">
      <div class="body-container">
        <div class="center-content">
          <div class="row noPadding">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h4 class="h45-light s30 text-uppercase white-c shadow noMargin">Tus Secretarias</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <!--{{#unless secretaria}}
                <a class="btn btn-primary pull-right" role="button" data-toggle="collapse" href="#agregar" aria-expanded="false" aria-controls="agregar">
                  Agregar
                </a>
              {{/unless}}-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="msBody" class="container-fluid">
  {{#unless secretaria}}
    <div id="agregar" class="container">
      <div class="panel panel-primary noBorder">
        <!--{{#if secretaria}}hidden{{/if}}-->
        <div class="panel-heading bg-darkBlue">
          <!--        {{#if secretaria}}
            <div class="col-md-8">
              <div class="row">
                <h3 class="h45-light s25 text-uppercase">
              <strong>Nueva secretaria</strong>
            </h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <h3>
              <button class="btn btn-danger btn-lg pull-right" onclick="window.location.reload()/*$('#mostrar').removeClass('hidden');$('#agregar').addClass('hidden');*/">Cancelar</button>
            </h3>
              </div>
            </div>
          {{else}}

          {{/if}}-->
          <h4 class="h77-boldcond whiteF s30 text-center" style="margin-top: 35px;">BUSCA A TU SECRETARIA</h4>
          <div class="input-group">
            <div class="input-group-addon square">
              <select style="border: none;background-color:transparent" id="tipoBusqueda">
                <option value="1">Buscar por nombre</option>
                <option value="2">Buscar por correo</option>
              </select>
            </div>
            <input type="text" class="form-control" placeholder="Escribe tu busqueda..." id="inputBusquedaSecretaria" pattern=".{3,}">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" onclick="filtrarBusquedaSecretaria()">Buscar</button>
            </span>
          </div>
        </div>
        <div class="panel-body">
          <div class="pager" style="margin: 0px;text-align: right;margin-right: 6px;font-weight: bold;"></div>
          <ul class="media-list list-group noMargin" id="filtroSecretariaResult">
          </ul>
          <div class="pager" style="margin: 0px;text-align: right;margin-right: 6px;font-weight: bold;"></div>
        </div>
        <div class="panel-footer">
          <form class="row" method="post" onsubmit="return invitarSecretariaEmail()">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <h4 class="media-heading"><b>¿Tu secretaria no está en Intermed?</b></h4>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <input type="email" class="form-control" id="secretariaEmail" placeholder="Correo electrónico" required="true">
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <button class="btn btn-info btn-block">Invitar</button>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3 hidden" id="successEmail">
              <div class="alert alert-success">
                <strong>¡Éxito!</strong> La invitación fue enviada a tu secretaria.
              </div>
            </div>
            <div class="col-md-6 col-md-offset-3 hidden" id="errorEmail">
              <div class="alert alert-danger">
                <strong>¡Error!</strong> <span class="msg"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/unless}}
  <div id="mostrar" class="h45-light {{#unless secretaria}}hidden{{/unless}}">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="panelSecretaria list-group">
          <div class="panel panel-primary noBorder noMargin">
            <div class="panel-heading bg-darkBlue" style="height:60px;">
              <a class="body-container white-c" role="button" data-toggle="collapse" data-parent="acordion" href="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
                <div class="center-content">
                  <div class="text-center c-blue text-uppercase" type="button" data-toggle="collapse" data-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
                    <span class="glyphicon glyphicon-plus"></span> Nueva Secretaria
                  </div>
                </div>
              </a>
            </div>
            <div id="collapseNew" role="tab" class="panel-collapse collapse square">
              <div class="panel panel-default noMargin noBorder square">
                {{#unless secretaria}}
                  <div class="panel-heading">
                    <h4 class="h77-boldcond whiteF s30 text-center" style="margin-top: 35px;">BUSCA A TU SECRETARIA</h4>
                  </div>
                {{/unless}}
                <div class="panel-body">
                  <div class="input-group form-group">
                    <div class="input-group-addon square" style="padding:0px">
                      <select style="border: none;background-color:transparent" id="tipoBusqueda">
                        <option value="1">Nombre</option>
                        <option value="2">Correo</option>
                      </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Escribe tu busqueda..." id="inputBusquedaSecretaria" pattern=".{3,}">
                  </div>
                  <div class="form-group noMargin">
                    <button class="btn btn-primary btn-block" type="button" onclick="filtrarBusquedaSecretaria()">Buscar</button>
                  </div>
                  <ul class="media-list list-group noMargin" id="filtroSecretariaResult">
                  </ul>
                </div>
              </div>
              <hr class="noMargin" />
              <div class="panel panel-default noMargin noBorder square">
                <div class="panel-heading">
                  <h4>¿Tu secretaria no está en Intermed?</h4>
                  <p class="noMargin">
                    Envíale una invitación ahora mismo:
                  </p>
                </div>
                <div class="panel-body">
                  <div class="media-body text-center">
                    <form method="post" onsubmit="return invitarSecretariaEmail()">
                      <div class="">
                        <div class="form-group">
                          <input type="email" class="form-control" id="secretariaEmail" placeholder="Correo electrónico" required="true">
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group noMargin">
                          <button class="btn btn-info btn-block">Invitar</button>
                        </div>
                      </div>
                      <div class="hidden" id="successEmail">
                        <div class="alert alert-success noMargin">
                          <strong>¡Éxito!</strong> La invitación fue enviada a tu secretaria.
                        </div>
                      </div>
                      <div class="hidden" id="errorEmail">
                        <div class="alert alert-danger noMargin">
                          <strong>¡Error!</strong> <span class="msg"></span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="panel-footer">
                  {{#if secretaria}}
                    <div class="">
                      <div class="">
                        <button class="btn btn-danger btn-block" onclick="window.location.reload()/*$('#mostrar').removeClass('hidden');$('#agregar').addClass('hidden');*/">Cancelar</button>
                      </div>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="mostrar-row">
          {{#each secretarias}}
            <div class="panelSecretaria list-group col-lg-4 col-md-4 col-sm-6 col-xs-12"><!---->
              <div class="panel panel-default noBorder noMargin">
                <div class="panel-heading">
                  <div class="row noPadding">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                      <img class="img-circle img-responsive" alt="64x64" src="{{Secretarium.Usuario.urlFotoPerfil}}" data-holder-rendered="true">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="height: auto;">
                      <h3 class="h67-medcond s20 noMargin">{{Secretarium.Usuario.DatosGenerale.nombre}} {{Secretarium.Usuario.DatosGenerale.apellidoP}} {{Secretarium.Usuario.DatosGenerale.apellidoM}}</h3>
                      <h4 class="h45-medium s15">{{Secretarium.Municipio.municipio}}, {{Secretarium.Estado.estado}}</h4>
                    </div>
                  </div>
                  <hr class="noMargin" />
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <br>Correo: {{Secretarium.Usuario.correo}}</p>
                      {{#if Secretarium.Usuario.Telefonos}}
                        <p>Tel: (331) 439 5304</p>
                        <p>Cel: (331) 439 5304</p>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div id="collapse{{id}}" class="panel-collapse collapse square">
                  <ul class="list-group">
                    <li class="list-group-item active square bg-darkBlue">
                      <h4 class="list-group-item-heading noMargin">Permisos:</h4>
                    </li>
                    {{#each permisos}}
                      <li class="list-group-item">
                        <span class="" for="checkSecrPerm_{{../id}}_{{id}}">{{permiso}}</span>
                        <input type="checkbox" class="pull-right" {{#if MedicoSecretariaPermisos}} {{#each MedicoSecretariaPermisos}} {{#if permiso}} checked="true" {{/if}} {{/each }} {{else}} {{#if default}} checked="true" {{/if}} {{/if}} id="checkSecrPerm_{{../id}}_{{id}}"
                          onchange="cambiarPermisoSecretaria({{../id}},{{id}},this);">
                      </li>
                    {{/each}}
                    <li class="list-group-item">
                    </li>
                    <a role="button" class="list-group-item list-group-item-danger square" onclick="eliminarSecretaria({{Secretarium.id}})">
                      <span class="h45-light s15 center-block text-center">Dar de Baja</span>
                    </a>
                  </ul>
                </div>
                <div class="panel-footer">
                  <div class="row noPadding">
                    <div class="col-lg-12">
                      <a class="pull-right" role="button" data-toggle="collapse" href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                        <span class="glyphicon glyphicon-cog"></span> Configurar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
  </div>
</section>
