<section id="medicoSecretaria">

  <div id="agregar" class="container h45-light s17 {{#if secretaria}}hidden{{/if}}">
    <div class="row" style="margin-top:30px">

      {{#if secretaria}}
        <div class="col-md-8">
          <div class="row">
            <h3 class="h45-light s25 text-uppercase">
              <strong>Nueva secretaria</strong>
            </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h3>
              <button class="btn btn-danger btn-lg pull-right" onclick="window.location.reload()/*$('#mostrar').removeClass('hidden');$('#agregar').addClass('hidden');*/">Cancelar</button>
            </h3>
          </div>
        </div>
      {{else}}
        <div class="col-md-12">
          <h4 class="h77-boldcond whiteF s30 text-center" style="margin-top: 35px;">BUSCA A TU SECRETARIA</h4>
        </div>
      {{/if}}

      <div class="col-md-12">
        <div class="row">
          <div class="input-group">
            <div class="input-group-addon" style="padding:0px">
              <select style="border: none;background-color:transparent" id="tipoBusqueda"><option value="1">Buscar por nombre</option><option value="2">Buscar por correo</option></select>
            </div>
            <input type="text" class="form-control" placeholder="Escribe tu busqueda..." id="inputBusquedaSecretaria" pattern=".{3,}">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" onclick="filtrarBusquedaSecretaria()">Buscar</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="pager" style="margin: 0px;text-align: right;margin-right: 6px;font-weight: bold;"></div>
          <ul class="media-list list-group" id="filtroSecretariaResult">
          </ul>
          <div class="pager" style="margin: 0px;text-align: right;margin-right: 6px;font-weight: bold;"></div>
          <ul class="media-list list-group">
              <li class="media list-group-item active" style="margin-top: 0px">
                <div class="media-body text-center">

                  <form method="post" onsubmit="return invitarSecretariaEmail()">
                    <div class="col-md-6 col-md-offset-3">
                      <div class="form-group">
                        <h4 class="media-heading"><b>¿Tu secretaria no está en Intermed?</b></h4>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 hidden" id="successEmail">
                      <div class="alert alert-success">
                        <strong>¡Éxito!</strong> La invitación fue enviada a tu secretaria.
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 hidden" id="errorEmail">
                      <div class="alert alert-danger">
                        <strong>¡Error!</strong> <span class="msg"></span>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <div class="form-group">
                        <input type="email" class="form-control" id="secretariaEmail" placeholder="Correo electrónico" required="true">
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                      <div class="form-group">
                        <button class="btn btn-info btn-block">Invitar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

          </ul>

        </div>
      </div>
    </div>
  </div>

  <div id="mostrar" class="container h45-light s17 {{#unless secretaria}}hidden{{/unless}}">

    <div class="row" style="margin-top:30px">
      <div class="col-md-8">
        <h3 class="h45-light s25 text-uppercase">
          <strong>Tus secretarias</strong>
        </h3>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h3>
            <button class="btn btn-primary btn-lg pull-right" onclick="$('#agregar').removeClass('hidden');$('#mostrar').addClass('hidden');">Agregar</button>
          </h3>
        </div>
      </div>
    </div>

    {{#each secretarias}}

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
                <img class="img-circle" alt="64x64" style="width: 90%;" src="{{Secretarium.Usuario.urlFotoPerfil}}" data-holder-rendered="true">
            </div>
            <div class="panel-body" style="height: auto;">
              <h5><strong>Datos de contácto:</strong></h5>
              <p>Correo: {{Secretarium.Usuario.correo}}</p>
              {{#if Secretarium.Usuario.Telefonos}}
                <p>Tel: (331) 439 5304</p>
                <p>Cel: (331) 439 5304</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body" style="height:auto">

              <h4><strong>{{Secretarium.Usuario.DatosGenerale.nombre}} {{Secretarium.Usuario.DatosGenerale.apellidoP}} {{Secretarium.Usuario.DatosGenerale.apellidoM}}</strong></h4>
              <p>{{Secretarium.Municipio.municipio}}, {{Secretarium.Estado.estado}}</p>
              <br><br>

              <div class="list-group">
              <div class="list-group-item active s20"><strong>Configurar permisos</strong></div>
                {{#each permisos}}
                  <div class="list-group-item"><label for="checkSecrPerm_{{../id}}_{{id}}" style="font-weight:none">{{permiso}}</label>
                    <input type="checkbox" class="pull-right"
                    {{#if MedicoSecretariaPermisos}}
                      {{#each MedicoSecretariaPermisos}}
                        {{#if permiso}}checked="true"{{/if}}
                      {{/each }}
                    {{else}}
                      {{#if default}}checked="true"{{/if}}
                    {{/if}}
                    id="checkSecrPerm_{{../id}}_{{id}}" onchange="cambiarPermisoSecretaria({{../id}},{{id}},this);">
                  </div>
                {{/each}}
              </div>

              <div class="list-group">
                <div href="#" class="list-group-item list-group-item-danger s20">
                  <strong>Dar de baja</strong>
                  <button class="pull-right btn btn-danger btn-sm" style="border-radius: 5px!important;margin-top: -5px;" onclick="eliminarSecretaria({{Secretarium.id}})">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</section>
